* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
}
.App {
  transition: all 0.3s ease;
}
.library-app-active {
  margin-left: 15rem;
}

@import "./library";
@import "./controls";
@import "./music";
@import "./nav";
